---
import Icon from "~/components/ui/icon.astro";

interface Props {
	id: string | number;
	triggerClass?: string;
	triggerLabel?: string;
	triggerIcon?: `line-md:${string}` | `svg-spinners:${string}`;
	menuClass?: string;
}

const {
	id,
	triggerClass = "",
	triggerLabel,
	triggerIcon = "line-md:chevron-up" as const,
	menuClass = "w-36",
} = Astro.props;
---

<button
	class:list={["btn btn-outline btn-xs", triggerClass]}
	popovertarget={`aksi-${id}`}
>
	<Icon name={triggerIcon} size="size-3.5" />
	{triggerLabel && <span>{triggerLabel}</span>}
</button>
<ul
	id={`aksi-${id}`}
	class:list={[
		"dropdown dropdown-end dropdown-top",
		"menu menu-sm bg-base-100 border-base-300 border shadow-sm",
		menuClass,
	]}
	popover
>
	<slot />
</ul>
