---
import { formatDate } from "@indekos/utilities/date";

import ReportLayout from "~/layouts/report-layout.astro";
import { fetchTenants, tenantsQuerySchema } from "../_data";

const params = Astro.locals.parseQuery(
	tenantsQuerySchema.omit({ query: true }),
);

const tenants = await fetchTenants(params);

let subtitle = "Semua penghuni";
if (params.status === "active") subtitle = "Status: Aktif";
else if (params.status === "completed") subtitle = "Status: Selesai";
---

<ReportLayout title="Daftar Penghuni Aktif" subtitle={subtitle}>
	<table>
		<thead>
			<tr>
				<th class="w-[5%] text-center">No</th>
				<th class="w-[22%]">Nama Lengkap</th>
				<th class="w-[15%]">No. HP</th>
				<th class="w-[10%]">Kamar</th>
				<th class="w-[15%]">Awal Sewa</th>
				<th class="w-[15%]">Akhir Sewa</th>
				<th class="w-[10%]">Status</th>
			</tr>
		</thead>
		<tbody>
			{
				tenants.map(
					(
						{ fullName, phoneNumber, roomNumber, startDate, endDate, isActive },
						idx,
					) => (
						<tr>
							<td class="text-center font-mono">{idx + 1}</td>
							<td>{fullName}</td>
							<td class="font-mono">+{phoneNumber}</td>
							<td class="text-center font-mono">{roomNumber}</td>
							<td class="font-mono">{formatDate(startDate)}</td>
							<td class="font-mono">{formatDate(endDate)}</td>
							<td class="text-center">{isActive ? "Aktif" : "Selesai"}</td>
						</tr>
					),
				)
			}
		</tbody>
		<tfoot>
			<tr>
				<td class="border border-black bg-gray-100 p-2 font-bold" colspan="7">
					Total penghuni: {tenants.length}
				</td>
			</tr>
		</tfoot>
	</table>
</ReportLayout>
