---
import { db } from "@e-kos/database";

import { actions } from "astro:actions";

import ModalForm from "~/components/form/modal-form.astro";
import Modal from "~/components/modal/modal.astro";
import Icon from "~/components/ui/icon.astro";
import NotFound from "~/components/ui/not-found.astro";
import { ROLE_BADGES } from "~/lib/badges";

export const partial = true;

const account = await db.query.users.findFirst({
	columns: {
		id: true,
		username: true,
		displayName: true,
		lastAccessed: true,
		role: true,
	},
	where: { id: Number(Astro.params.id) },
});

if (!account) Astro.response.status = 404;
---

<Modal id="delete_account" title="Hapus Akun" icon="lucide:user-x">
	{
		account ? (
			account.role === "admin" ? (
				<div class="alert alert-error" role="alert">
					<Icon name="lucide:triangle-alert" size="size-5" />
					<span>Akun admin tidak dapat dihapus.</span>
				</div>
			) : (
				<>
					<div class="grid grid-cols-2 gap-2 text-sm">
						<span class="font-bold">Username:</span>
						<span>@{account.username}</span>
						<span class="font-bold">Nama:</span>
						<span>{account.displayName}</span>
						<span class="font-bold">Role:</span>
						<span class:list={["badge badge-sm", ROLE_BADGES[account.role]]}>
							{account.role.toUpperCase()}
						</span>
						<span class="font-bold">Terakhir diakses:</span>
						<span>{account.lastAccessed ?? "N/A"}</span>
					</div>

					<ModalForm
						action={actions.manage.accounts._delete}
						hidden
						modalId="delete_account"
						submitClass="btn-error"
						submitLabel="Hapus"
						target="#form_result, #accounts-content-wrapper"
					>
						<input name="id" type="hidden" value={account.id} />
					</ModalForm>
				</>
			)
		) : (
			<NotFound label="Akun" />
		)
	}
</Modal>
