---
import Icon from "~/components/ui/icon.astro";

interface MenuItem {
	label: string;
	icon: `lucide:${string}`;
	href: `/dashboard${string}`;
}

const role = Astro.locals.user!.role;

const MENU_ITEMS = {
	dashboard: {
		icon: "lucide:layout-grid",
		label: "Dashboard",
		href: "/dashboard",
	},
	accountManagement: {
		icon: "lucide:user",
		label: "Manajemen Akun",
		href: "/dashboard/for/accounts",
	},
	roomManagement: {
		icon: "lucide:briefcase",
		label: "Manajemen Kamar",
		href: "/dashboard/for/rooms",
	},
	tenantManagement: {
		icon: "lucide:user",
		label: "Manajemen Penghuni",
		href: "/dashboard/for/tenants",
	},
	complaintManagement: {
		icon: "lucide:file-text",
		label: "Manajemen Komplain",
		href: "/dashboard/for/complaints",
	},
	invoiceManagement: {
		icon: "lucide:receipt",
		label: "Manajemen Tagihan",
		href: "/dashboard/for/invoices",
	},
	transactionReport: {
		icon: "lucide:calendar",
		label: "Laporan Transaksi",
		href: "/dashboard/for/transactions",
	},
	notificationReport: {
		icon: "lucide:bell",
		label: "Laporan Notifikasi",
		href: "/dashboard/for/notifications",
	},
	chatbotLog: {
		icon: "lucide:message-square",
		label: "Log Chatbot",
		href: "/dashboard/for/chatbot",
	},
	auditLog: {
		icon: "lucide:clock",
		label: "Log Audit",
		href: "/dashboard/for/audit",
	},
} satisfies Record<string, MenuItem>;

const ROLE_MENUS = {
	admin: {
		dashboard: MENU_ITEMS.dashboard,
		manajemen: [
			MENU_ITEMS.accountManagement,
			MENU_ITEMS.roomManagement,
			MENU_ITEMS.tenantManagement,
			MENU_ITEMS.complaintManagement,
			MENU_ITEMS.invoiceManagement,
		],
		laporan: [
			MENU_ITEMS.transactionReport,
			MENU_ITEMS.notificationReport,
			MENU_ITEMS.chatbotLog,
			MENU_ITEMS.auditLog,
		],
	},
	staff: {
		dashboard: MENU_ITEMS.dashboard,
		manajemen: [
			MENU_ITEMS.roomManagement,
			MENU_ITEMS.tenantManagement,
			MENU_ITEMS.complaintManagement,
			MENU_ITEMS.invoiceManagement,
		],
		laporan: [
			MENU_ITEMS.transactionReport,
			MENU_ITEMS.notificationReport,
			MENU_ITEMS.chatbotLog,
			MENU_ITEMS.auditLog,
		],
	},
	get owner(): Record<string, MenuItem | MenuItem[]> {
		return ROLE_MENUS.staff;
	},
	system: {},
} satisfies Record<typeof role, Record<string, MenuItem | MenuItem[]>>;

const MENU = ROLE_MENUS[role] ?? ROLE_MENUS.staff;
---

<ul class="menu flex-1 p-4">
	{
		Object.entries(MENU).map(([label, value]) =>
			Array.isArray(value) ? (
				<>
					<li class="menu-title capitalize">{label}</li>
					{value.map((item) => (
						<li>
							<a href={item.href}>
								<Icon name={item.icon} size="size-5" />
								{item.label}
							</a>
						</li>
					))}
				</>
			) : (
				<li>
					<a href={value.href}>
						<Icon name={value.icon} size="size-5" />
						{value.label}
					</a>
				</li>
			),
		)
	}
</ul>
