---
import Icon from "~/components/ui/icon.astro";

interface MenuItem {
	label: string;
	icon: `lucide:${string}`;
	href: `/dashboard${string}`;
}

export interface Props {
	role?: "admin" | "staff" | "owner";
}

const { role = "staff" } = Astro.props;

const ALL = {
	dashboard: {
		icon: "lucide:layout-grid",
		label: "Dashboard",
		href: "/dashboard",
	},

	manajemen: [
		{
			icon: "lucide:user",
			label: "Manajemen Akun",
			href: "/dashboard/manage/accounts",
		},
		{
			icon: "lucide:briefcase",
			label: "Manajemen Kamar",
			href: "/dashboard/manage/rooms",
		},
		{
			icon: "lucide:user",
			label: "Manajemen Penghuni",
			href: "/dashboard/manage/tenants",
		},
		{
			icon: "lucide:file-text",
			label: "Manajemen Komplain",
			href: "/dashboard/manage/complaints",
		},
	],

	laporan: [
		{
			icon: "lucide:calendar",
			label: "Laporan Transaksi",
			href: "/dashboard/report/transactions",
		},
		{
			icon: "lucide:bell",
			label: "Laporan Notifikasi",
			href: "/dashboard/report/notifications",
		},
		{
			icon: "lucide:message-square",
			label: "Log Chatbot",
			href: "/dashboard/log/chatbot",
		},
		{
			icon: "lucide:clock",
			label: "Log Audit",
			href: "/dashboard/log/audit",
		},
	],
} satisfies Record<string, MenuItem | MenuItem[]>;

const MENU = (() => {
	switch (role) {
		case "admin":
			return {
				dashboard: ALL.dashboard,
				manajemen: [
					ALL.manajemen[0], // only Manajemen Akun
				],
			};
		case "owner":
			return {
				dashboard: ALL.dashboard,
				laporan: ALL.laporan,
			};
		case "staff":
		default:
			return {
				dashboard: ALL.dashboard,
				manajemen: ALL.manajemen.slice(1), // exclude Manajemen Akun
				laporan: ALL.laporan,
			};
	}
})();
---

<ul class="menu flex-1 p-4">
	{
		Object.entries(MENU).map(([label, value]) =>
			Array.isArray(value) ? (
				<>
					<li class="menu-title capitalize">{label}</li>
					{value.map((item) => (
						<li>
							<a href={item.href}>
								<Icon name={item.icon} size="size-5" />
								{item.label}
							</a>
						</li>
					))}
				</>
			) : (
				<li>
					<a href={value.href}>
						<Icon name={value.icon} size="size-5" />
						{value.label}
					</a>
				</li>
			),
		)
	}
</ul>
