---
import { actions } from "astro:actions";

import Icon from "~/components/ui/icon.astro";
import { ROLE_BADGES } from "~/lib/auth";
import { createActionResult } from "~/lib/form-result";

export interface Props {
	user: NonNullable<App.Locals["user"]>;
}

const { user } = Astro.props;
const initial = user.name.charAt(0).toUpperCase();

Astro.locals.actionResults.push(
	createActionResult(
		actions.auth.updateProfile,
		"Update profil",
		(d) => `Berhasil memperbarui profil! (ID: ${d.id})`,
	),
);
---

<button
	class="btn btn-ghost pr-2 pl-4 btn-xl"
	popovertarget="user-popover"
	style="anchor-name:--user-anchor"
>
	<div class="flex flex-col items-end gap-0.5 max-sm:hidden">
		<div class="text-sm font-medium">{user.name}</div>
		<span class:list={["badge badge-xs uppercase", ROLE_BADGES[user.role]]}
			>{user.role}</span
		>
	</div>
	<div class="avatar avatar-placeholder">
		<div class="size-10 rounded-full bg-neutral text-neutral-content">
			<span class="text-sm font-bold">{initial}</span>
		</div>
	</div>

	<Icon name="lucide:chevrons-down" size="size-5" />
</button>

<ul
	class="menu dropdown dropdown-end dropdown-bottom mt-2 w-48 menu-sm bg-base-100 p-2 shadow-sm"
	id="user-popover"
	popover
	style="position-anchor:--user-anchor"
>
	<li>
		<div
			class="pointer-events-none flex flex-col items-start gap-0.5 bg-base-200 pt-2 pb-4 sm:hidden"
		>
			<div class="font-medium">{user.name}</div>
			<span class:list={["badge badge-sm uppercase", ROLE_BADGES[user.role]]}
				>{user.role}</span
			>
		</div>
	</li>
	<li>
		<button
			hx-get="/dashboard/modal/profile"
			class="btn justify-start btn-ghost btn-sm"
		>
			<Icon name="lucide:user-circle" size="size-5" />
			Profil
		</button>
	</li>
	<li>
		<button
			hx-get="/dashboard/modal/brand"
			class="btn justify-start btn-ghost btn-sm"
		>
			<Icon name="lucide:palette" size="size-5" />
			Branding
		</button>
	</li>
	<li>
		<form
			hx-post={actions.auth.logout}
			class="contents"
			action={actions.auth.logout}
			method="post"
		>
			<button class="btn justify-start btn-soft btn-error btn-sm" type="submit">
				<Icon name="lucide:log-out" size="size-5" />
				Keluar
			</button>
		</form>
	</li>
</ul>
