---
import type { Period } from "~/lib/query";
import SelectPeriod from "./select-period.astro";

interface Props {
	name: string;
	period?: Period;
}

const { name, period } = Astro.props;
const filterClass = `filter-${name}`;
const targetId = `#${name}-content-wrapper`;
---

<div class="card border border-base-300 bg-base-100 shadow-sm">
	<div
		class="card-body gap-3 p-4 sm:flex-row sm:items-center sm:justify-between"
		hx-include={`.${filterClass}`}
		hx-select={targetId}
		hx-swap="outerHTML transition:true"
		hx-target={targetId}
	>
		{
			period && (
				<SelectPeriod
					hx-get={Astro.url.pathname}
					hx-trigger="period-change"
					class={filterClass}
					name="period"
					{period}
				/>
			)
		}

		<div class="flex gap-2">
			<slot name="actions" />
		</div>
	</div>
</div>
