---
import Icon from "~/components/ui/icon.astro";

export interface Stat {
	title: string;
	value: string | number;
	desc?: string;
	icon?: `lucide:${string}`;
}

export interface Props {
	stats: Stat[];
}

const { stats } = Astro.props;
---

<div
	class="stats w-full stats-vertical border border-base-300 shadow-sm sm:stats-horizontal"
	id="stats"
	hx-swap-oob="true"
>
	{
		stats.map(({ title, value, desc, icon }) => (
			<div class="stat text-center sm:text-left">
				{icon && (
					<div class="stat-figure">
						<Icon class="text-secondary" name={icon} size="size-12" />
					</div>
				)}
				<div class="stat-title">{title}</div>
				<div class="stat-value">{value}</div>
				{desc && <div class="stat-desc">{desc}</div>}
			</div>
		))
	}
</div>
