---
import { formatDate } from "@e-kos/utilities/date";

import { actions } from "astro:actions";

import FilterPopover from "~/components/data/filter-popover.astro";
import SearchInput from "~/components/data/search-input.astro";
import FormResult from "~/components/form/form-result.astro";
import Icon from "~/components/ui/icon.astro";
import DashboardLayout from "~/layouts/dashboard-layout.astro";
import { ROLE_BADGES } from "~/lib/auth";
import { createActionResult } from "~/lib/form-result";
import { accountsQuerySchema, fetchAccounts } from "./_data";

const params = Astro.locals.parseQuery(accountsQuerySchema);
const accounts = await fetchAccounts(params);
---

<FormResult
	actionResults={[
		createActionResult(
			actions.manage.accounts.add,
			"Tambah akun",
			(d) => `Berhasil menambah akun! (ID: ${d.id})`,
		),
		createActionResult(
			actions.manage.accounts.edit,
			"Edit akun",
			(d) => `Berhasil edit akun! (ID: ${d.id})`,
		),
		createActionResult(
			actions.manage.accounts._delete,
			"Hapus akun",
			(d) => `Berhasil menghapus akun! (ID: ${d.id})`,
		),
	]}
/>

<DashboardLayout
	title="Manajemen Akun"
	description="Kelola kredensial dan hak akses pengguna sistem"
>
	<Fragment slot="page-action">
		{
			Astro.locals.user?.allowEdit && (
				<button
					hx-get="/dashboard/manage/accounts/modal/add"
					class="btn btn-primary btn-sm"
				>
					<Icon name="lucide:plus" size="size-5" />
					Tambah Akun
				</button>
			)
		}
	</Fragment>

	<div
		class="flex items-center justify-end gap-2"
		hx-include=".filter-accounts"
		hx-select="#accounts-content-wrapper"
		hx-swap="outerHTML transition:true"
		hx-target="#accounts-content-wrapper"
	>
		<FilterPopover
			name="accounts"
			groups={[
				{
					title: "Role",
					name: "role",
					options: [
						{
							value: "admin",
							label: "Admin",
							checked: params.role === "admin",
						},
						{
							value: "staff",
							label: "Staff",
							checked: params.role === "staff",
						},
						{
							value: "owner",
							label: "Owner",
							checked: params.role === "owner",
						},
					],
				},
			]}
		/>
		<SearchInput
			value={params.query}
			filterClass="filter-accounts"
			placeholder="Cari nama..."
		/>
	</div>

	<div
		class="overflow-x-auto rounded-box border border-base-300 shadow-sm"
		id="accounts-content-wrapper"
	>
		<table class="table w-full table-sm">
			<thead>
				<tr>
					<th class="w-8">#</th>
					<th>Username</th>
					<th>Role</th>
					<th>Terakhir Akses</th>
					<th class="text-right">Aksi</th>
				</tr>
			</thead>
			<tbody id="rows">
				{
					accounts.map(({ id, username, displayName, role, lastAccessed }) => (
						<tr>
							<td class="font-mono">{id}</td>
							<td class="flex items-center gap-2 font-semibold">
								<div class="avatar avatar-placeholder">
									<div class="w-8 rounded-full bg-neutral text-neutral-content">
										<span class="text-xs uppercase">
											{username.slice(0, 2)}
										</span>
									</div>
								</div>
								@{username} ({displayName})
							</td>
							<td>
								<span
									class:list={[
										"badge badge-sm font-bold uppercase",
										ROLE_BADGES[role as keyof typeof ROLE_BADGES] ??
											"badge-ghost",
									]}
								>
									{role}
								</span>
							</td>
							<td class="text-xs text-base-content/70">
								{formatDate(lastAccessed)}
							</td>
							<td class="text-right">
								<div class="flex justify-end gap-1.5">
									<button
										hx-get={`/dashboard/manage/accounts/modal/edit/${id}`}
										class="btn btn-outline btn-info btn-xs"
									>
										<Icon name="lucide:pencil" /> Edit
									</button>
									<button
										hx-get={`/dashboard/manage/accounts/modal/delete/${id}`}
										class="btn btn-outline btn-error btn-xs"
									>
										<Icon name="lucide:trash-2" /> Hapus
									</button>
								</div>
							</td>
						</tr>
					))
				}
			</tbody>
		</table>
	</div>
</DashboardLayout>
