---
import { db } from "@e-kos/database";
import { formatDate } from "@e-kos/utilities/date";
import {
	formatCurrency,
	formatInvoiceNumber,
} from "@e-kos/utilities/transforms";

import { capitalize } from "es-toolkit";

import Icon from "~/components/ui/icon.astro";
import BaseLayout from "~/layouts/base-layout.astro";

const invoiceId = Number(Astro.params.id);
if (Number.isNaN(invoiceId)) return Astro.redirect("/");

const invoice = await db.query.invoices.findFirst({
	where: { id: invoiceId },
	with: {
		lease: { with: { tenant: true, room: true } },
	},
});
if (!invoice) return Astro.redirect("/");

const { tenant, room } = invoice.lease;
const invoiceNumber = formatInvoiceNumber(invoice.id);
---

<BaseLayout title={`Struk Digital ${invoiceNumber}`}>
	<div class="flex min-h-dvh items-center justify-center bg-base-200 p-4">
		<div class="mx-auto w-full max-w-xs">
			<div class="mb-4 flex items-stretch gap-2 print:hidden">
				<button
					class="btn flex-1 btn-outline btn-sm"
					id="btn-capture"
					data-filename={invoiceNumber}
					disabled={invoice.status !== "paid"}
				>
					<Icon name="lucide:printer" />
					Cetak PNG
				</button>

				{
					Astro.locals.user && (
						<a class="btn flex-1 btn-sm btn-primary" href="/dashboard">
							← Dashboard
						</a>
					)
				}
			</div>

			<div class="card bg-base-100 shadow-xl" id="invoice-card">
				<div class="card-body p-6">
					<div
						class="mb-3 flex items-center gap-4 border-b-2 border-base-content/20 pb-3"
					>
						<div class="flex-1 text-center">
							<div class="avatar avatar-placeholder">
								<div class="w-12 rounded-full bg-neutral text-neutral-content">
									<span class="text-lg">KU</span>
								</div>
							</div>

							<div
								class="font-serif text-lg font-bold tracking-wider uppercase"
							>
								Indekos Ungu
							</div>
							<div class="my-1 border-b border-base-content/20"></div>
							<div class="font-serif text-xs leading-relaxed opacity-60">
								Jl. Sejahtera, Komplek Damai, RT 002/RW 006, Kelurahan Mentaos,
								Kec. Banjarbaru Utara, Kota Banjar Baru, Kalimantan Selatan
								70714
							</div>
						</div>
					</div>

					<hr class="my-2 border-0 border-t-2 border-dashed border-base-300" />

					<div class="grid grid-cols-2 text-xs *:gap-0.5">
						<div class="flex flex-col">
							<span class="opacity-60">Tanggal Dibuat</span>
							<span class="font-mono font-semibold">
								{formatDate(invoice.createdAt)}
							</span>
						</div>

						<div class="flex flex-col text-end">
							<span class="opacity-60">Invoice</span>
							<span class="font-mono font-semibold">{invoiceNumber}</span>
						</div>
					</div>

					<div class="mt-2 grid grid-cols-2 text-xs *:gap-0.5">
						<div class="flex flex-col">
							<span class="opacity-60">Nama</span>
							<span class="font-mono font-semibold">{tenant.fullName}</span>
						</div>

						<div class="flex flex-col text-end">
							<span class="opacity-60">Kamar</span>
							<span class="font-mono font-semibold">{room.roomNumber}</span>
						</div>
					</div>

					<hr class="my-2 border-0 border-t-2 border-dashed border-base-300" />

					<div class="flex justify-between">
						<div class="flex flex-col">
							<div class="text-sm">
								Kamar {capitalize(room.roomType)}
								<span class="ml-1 font-mono font-light opacity-80">x1</span>
							</div>
							<div class="font-mono text-xs opacity-60">
								Sewa {formatDate(invoice?.dueDate, "MMMM YYYY")}
							</div>
						</div>

						<div class="font-mono text-xs">
							{formatCurrency(invoice.amount)}
						</div>
					</div>

					<div
						class="flex items-baseline justify-between py-1 text-base font-bold"
					>
						<span>TOTAL</span>
						<span>{formatCurrency(invoice.amount)}</span>
					</div>

					<hr class="mb-2 border-0 border-t-2 border-dashed border-base-300" />

					<div id="payment-status">
						<div class="grid text-xs *:gap-0.5">
							<div class="flex flex-col">
								<span class="opacity-60">Pembayaran</span>
								<span class="font-mono">
									Duitku
									{invoice.duitkuReference && `(${invoice.duitkuReference})`}
								</span>
							</div>
						</div>

						<hr
							class="my-4 border-0 border-t-2 border-dashed border-base-300"
						/>

						<div class="text-center">
							<span
								class:list={[
									"badge badge-lg font-semibold",
									invoice.status === "paid" ? "badge-success" : "badge-warning",
								]}
							>
								<Icon
									name={invoice.status === "paid"
										? "lucide:check"
										: "lucide:hourglass"}
									size="size-6"
								/>

								{invoice.status === "paid" ? "LUNAS" : "MENUNGGU"}
							</span>

							{
								invoice.paidAt && (
									<p class="mt-2 font-mono text-xs opacity-60">
										{formatDate(invoice.paidAt, "DD MMM YYYY - HH:mm")} WITA
									</p>
								)
							}
						</div>

						<hr
							class="my-4 border-0 border-t-2 border-dashed border-base-300"
						/>

						<p
							class:list={[
								"text-center text-sm font-medium",
								invoice.status === "paid" ? "text-success" : "text-warning",
							]}
						>
							{
								invoice.status === "paid"
									? "Pembayaran Anda telah berhasil diproses. Terima kasih!"
									: "Pembayaran Anda belum diterima. Silakan selesaikan pembayaran untuk menyelesaikan transaksi."
							}
						</p>

						{
							invoice.status === "paid" && (
								<p class="mt-1 text-center text-xs opacity-30">
									Simpan struk ini sebagai bukti pembayaran
								</p>
							)
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</BaseLayout>

<script>
	import { snapdom } from "@zumer/snapdom";

	document
		.getElementById("btn-capture")
		?.addEventListener("click", async () => {
			const invoice = document.getElementById("invoice-card");
			if (!invoice) return;

			const filename =
				document.getElementById("btn-capture")?.getAttribute("data-filename") ??
				new URL(document.URL).pathname.replace("/invoice/", "");

			await snapdom.download(invoice, {
				format: "png",
				filename: `indekos-ungu_${filename}`,
				scale: 3,
				backgroundColor: "#ffffff",
			});
		});
</script>
