---
import { db } from "@e-kos/database";

import { actions } from "astro:actions";

import IconLoader from "~/components/icon-loader.astro";
import Icon from "~/components/icon.astro";

export const partial = true;

const account = await db.query.users.findFirst({
	columns: { id: true, username: true, displayName: true, role: true },
	where: { id: Number(Astro.params.id) },
});

if (!account) Astro.response.status = 404;
---

<dialog class="modal" id="edit_account_modal">
	{
		account ? (
			<div class="modal-box">
				<form method="dialog">
					<button class="btn btn-sm btn-circle btn-ghost absolute top-2 right-2">
						✕
					</button>
				</form>

				<h3 class="mb-4 flex items-center gap-2 text-xl font-bold">
					<Icon class="text-primary" name="line-md:account" size="size-6" />
					Edit Akun (ID: {account.id})
				</h3>

				{account.role === "admin" ? (
					<div class="alert alert-error" role="alert">
						<Icon name="line-md:alert" size="size-5" />
						<span>Akun admin tidak dapat diedit.</span>
					</div>
				) : (
					<>
						<form
							hx-post={actions.manage.accounts.edit}
							class="flex flex-col gap-4"
							id="edit_account_form"
							hx-indicator="#edit_account_btn"
							hx-on--after-request="event.detail.successful && add_account_modal.close()"
							hx-select-oob="#form_error, #form_result, #rows"
							hx-swap="none transition:true"
							action={actions.manage.accounts.edit}
							method="post"
						>
							<input name="id" type="hidden" value={account.id} />

							<fieldset class="fieldset">
								<legend class="fieldset-legend">Username</legend>
								<input
									class="input w-full"
									name="username"
									type="text"
									value={account.username}
									placeholder="Masukkan username..."
									required
								/>
							</fieldset>

							<fieldset class="fieldset">
								<legend class="fieldset-legend">Nama Tampilan</legend>
								<input
									class="input w-full"
									name="display_name"
									type="text"
									value={account.displayName}
									placeholder="Masukkan nama..."
									required
								/>
							</fieldset>

							<fieldset class="fieldset">
								<legend class="fieldset-legend">Kata Sandi</legend>
								<input
									class="input w-full"
									name="password"
									type="password"
									placeholder="Biarkan kosong untuk tidak mengganti"
								/>
							</fieldset>

							<fieldset class="fieldset">
								<legend class="fieldset-legend">Role Akses</legend>
								<select class="select w-full" name="role" required>
									<option value="" disabled>
										Pilih hak akses
									</option>
									<option value="staff" selected={account.role === "staff"}>
										Staff (Operasional & Komplain)
									</option>
									<option value="owner" selected={account.role === "owner"}>
										Owner (Laporan Keuangan)
									</option>
								</select>
							</fieldset>

							<p id="form_error" />
						</form>
						<div class="modal-action">
							<form class="flex gap-2" method="dialog">
								<button class="btn btn-outline btn-sm">Batal</button>
								<button
									class="btn btn-primary btn-sm"
									id="edit_account_btn"
									type="submit"
									form="edit_account_form"
								>
									<IconLoader />
									Simpan Akun
								</button>
							</form>
						</div>
					</>
				)}
			</div>
		) : (
			<div class="modal-box">
				<form method="dialog">
					<button class="btn btn-sm btn-circle btn-ghost absolute top-2 right-2">
						✕
					</button>
				</form>

				<h3 class="mb-4 flex items-center gap-2 text-xl font-bold">
					<Icon class="text-primary" name="line-md:account" size="size-6" />
					Edit Akun
				</h3>

				<p class="py-4">Akun dengan ID: {Astro.params.id} tidak ditemukan.</p>
			</div>
		)
	}
	<form class="modal-backdrop" method="dialog">
		<button>close</button>
	</form>
</dialog>
